@tailwind base;
@tailwind components;
@tailwind utilities;

/* Existing custom styles */
:root {
  --w3m-accent-color: #FB923C;
  --w3m-background-color: #000000;
  --w3m-text-color: #FFFFFF;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.min-h-200px {
  min-height: 200px;
}